<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>124723124190-scnr92lljtbi405q9ji2r0mclgg2llah.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.124723124190-scnr92lljtbi405q9ji2r0mclgg2llah</string>
	<key>API_KEY</key>
	<string>AIzaSyDy7hbWRtzKmFZSelCWFPNaj2_gTqFuxJI</string>
	<key>GCM_SENDER_ID</key>
	<string>124723124190</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.Lab03</string>
	<key>PROJECT_ID</key>
	<string>fit3178-week06-lab-19aee</string>
	<key>STORAGE_BUCKET</key>
	<string>fit3178-week06-lab-19aee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124723124190:ios:4ac859b31812486454ef4f</string>
</dict>
</plist>